@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'poppins';
    src: url('/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}